*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# resource configs
src/infrastructure/config/*

# implementations
src/resources/*/*

# environment
.env
.env.local
